*{
    margin: 0px;
    padding: 0px;
    background-color: #F5F8FF;
}
.noto-serif-<uniquifier> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.first-img{
    padding: auto;
    padding-left: 30px;
}

.main-nav{
    margin-left: auto;
    padding: 0% 5%;
    padding-top: 20px;
    cursor: pointer;
}

.main-nav ul li:hover{
    color: #e85a08;
}

.main-nav ul li{
    display: inline;
    padding: 0 10px;   
}

.cart{
    padding-top: 20px;
    padding-right: 30px;
    
}
.cart :hover{
    color: #e85a08;
    cursor: pointer;
}

@media screen and (max-width: 768px) { 

    .main-nav{
    padding-top: 20px;
    cursor: pointer;
    }

.main-nav ul li{
     display: none;
    }
.first-img{
    padding-top: 10px;
    }
.cart i{
    padding-top: 20px;
    }

}
/* Header Mobile Responsive Part Complete */

.hero-heading {
    display: flex;
    justify-content: center;
    max-width: 1300px;
    align-items: center;
    margin: 0 auto;
    padding: 80px 30px;
    
}
.hero-size{
    font-size: 4rem;
    font-family: "Noto Serif", serif;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 0px;
}

.hero-text1{
    color: #e85a08;
}

.hero-pera1{
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    padding-right: 200px;
    color: rgba(0, 0, 0, 0.5);
    
}


@media screen and (max-width: 768px) {
        .hero-heading{ 
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            padding: 80px 20px;
            flex-direction: column-reverse;
            }

        .hero-size{
            font-size: 2rem;
        }    
        .hero-pera1{
            padding-right: 0px;
        }        
}

/* hero section mobile responsive done */

/* Second section */

.second-heading{
        justify-content: center;
        align-items: center;
        margin-top: 50px;    
}

.second-title{
    text-align: center;
    padding-bottom: 50px;
}
.second-size{
    font-size: 40px;
    font-family: "Noto Sans", sans-serif;
}
.second-text1{
    color: #e85a08;
}
.second-pera1{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    text-decoration: rgba(0, 0, 0, 0.5);
    padding: 10px 350px;
    line-height: 25px;
}

/* 8 colum design start */

.eight-colums{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1300px;
    justify-items: center;
    gap: 40px ;
    padding: 0 20px;
    padding-bottom: 100px;
    
}

.box{
    width: 100%;
    max-width: 100%;
    text-align: center;
}
.box img{
    width: 100%;
    height: auto;
    display: block;
}

.title{
    font-family: "Inter", sans-serif;
    color: #111111;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px; 
}

.pricing{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #111111;
    padding-bottom: 5px;
}

.cart-button{
    width: 100%;
    background-color: #e85a08;
    padding: 10px 15px;
    border: none;
}

.cart-button a{
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
}

/* second section desktop version complete */

/* third section */

.container-two{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    justify-items: center;
    margin: 100px auto;
    gap: 50px;
    flex-wrap: wrap;
}

.first-cols-img {
    position: relative;
    width: 600px;
    max-width: 100%;
    border-radius: 10px;
    overflow: visible; 
}

.first-cols-img .main-img {
    width: 100%;
    display: block;
}

.first-cols-img .img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.first-cols-img .badge {
    position: absolute;
    top: -80px;
    right: -60px;
    width: 220px;
    z-index: 10;
    border-radius: 100px;
    background: transparent;
}

.second-cols-headpara {
    width: 600px;
    max-width: 600px;
}

.second-cols-headpara h2 {
    color: #000000;
    font-family: "Noto Serif", serif;
    font-size: 3.1rem;
    font-weight: bold;
    padding-bottom: 20px;
    padding-left: 60px;
}

.second-cols-headpara p {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 100px;
    padding-bottom: 20px;
}

.para-third{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.para-third i{
    font-size: 8px;
    color: rgba(0, 0, 0, 0.5);
    padding-right: 15px;
}

/* Four section */


.deals{
    padding: 60px 20px;

}



.latest-deals {
    padding: 60px 20px;
}

.container-third {
    max-width: 1300px;
    margin: 0 auto;
}



.deals-promo-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.deals-promo-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.promo-card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bloom-promo {
    background-image: url(images/deal-bloom.png);
    height: 150px;
    background-size: cover;
    background-position: center;
}

.ana-promo {
    background-image: url(images/deal-ana.png);
    height: 150px;
    background-size: cover;
    background-position: center;
}

.zabo-promo {
    background-image: url(images/deal-zabo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 320px;
    flex: 2;
}

.promo-overlay-text {
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.promo-overlay-text h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: transparent;
    font-family: "Noto Serif", serif;
}

.highlighted-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: transparent;
    font-family: "Noto Serif", serif;
}

.promo-overlay-text a {
    display: inline-block;
    padding: 8px 16px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: underline;
    font-size: 18px;
    background-color: transparent;
}

.promo-card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.342);
    z-index: 0;
}

.subscribe-section {
    background-image: url('images/news-letter-bg.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 100px 20px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-subscribe {
    background: transparent;
    width: 100%;
    max-width: 1300px;
    justify-items: center;
}

.subscribe-form-wrapper {
    background: transparent !important;
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 0;  
}

.subscribe-form-wrapper h2 {
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
    background: transparent;
    font-family: "Noto Serif", serif;
}

.subscribe-form-wrapper form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
}

.subscribe-form-wrapper input[type="email"] {
    padding: 10px;
    min-width: 400px;
    height: 30px;
    border: none;
    font-size: 16px;
}

.subscribe-form-wrapper button {
    padding: 10px 20px;
    background: #E95A08;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.subscribe-form-wrapper button:hover {
    background: #d14d00;
}

.site-footer {
    padding: 50px 0;
}

.footer-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 40px;
    max-width: 1300px; 
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.footer-column-logo img {
    width: 60%;
    height: auto;
}

.footer-description {
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    padding-top: 20px;
}

.footer-column-links ul li {
    list-style-type: none;
    padding-bottom: 30px;
}

.footer-column-links ul li a {
    color: rgba(0, 0, 0, 0.5);
    size: 1.5rem;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

.footer-column-info-links ul li {
    list-style-type: none;
    padding-bottom: 30px;
}

.footer-column-info-links ul li a {
    color: rgba(0, 0, 0, 0.5);
    size: 1.5rem;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

.footer-column-social img {
    padding-left: 20px;
}
